# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
.venv/
venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Azure/Secrets
*.env
.env.*

# Ignore all files in site-packages (for local venv)
Python/env/lib/python3.11/site-packages/
